<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>库存</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/kc.js"></script>
</head>

<body class="pt-2">
<div class="background-image">
    <img src="../img/时间.png" class="img1">
    <span style="color: black; font-size: 20px;margin-left: 20px" id="now_time" ></span>
    <span style="margin-left: 50px;font-size: 20px"><img src="../img/个人.png" style="height: 30px;">  您 好 <b><span id="dlm" style="color: black"></span></b> , 欢 迎 您 登 录 !</span>
    <img src="../img/重金属.png" class="img1" style="margin-left: 30px">
    <img src="../img/金属.png" class="img1"style="margin-left: 30px">
    <img src="../img/钻石.png" class="img1"style="margin-left: 30px">
    <div class="menu">
        <button class="btn2"><img src="../img/个人信息.png" class="img1"></button>
        <div class="content">
            <div>
                <img src="../img/img_1.png">
            </div>
            <div style="margin-left: 60px">
                <a href="grxx.html" class="link-dark rounded">个人信息</a>
            </div>
            <div style="margin-left: 60px">
                <a href="http://localhost:9093/index.html" target="_top">退出登录</a>
            </div>
        </div>
    </div>
    <a href="main.html" target="_top"><img src="../img/首页.png" class="img1"></a>
    <img src="../img/地球仪.png" class="img1" style="margin-left: 20px;">
</div>

<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="ksrq" type="date" class="form-control" placeholder="开始日期" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="jsrq" type="date" class="form-control" placeholder="结束日期" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="mc" type="text" class="form-control" placeholder="商品名称" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn" style="background-color: limegreen;color: white">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="add-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-plus-square icon"></i>
            新增期初
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="update-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-pencil-square icon"></i>
            修改期初
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="delete-btn" class="btn btn-primary" style="border-radius:5px;background-color: red">
            <i class="bi bi-trash icon"></i>
            删除期初
        </button>
        <span style="border-right: 20px solid white"></span>
        <a class="btn btn-primary" style="color: white;padding-top: 8px;border-radius:5px;">当前页：库存</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="kcTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-riqi">日期</label>
                                <input id="add-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-spmc">商品名称</label>
                                <select id="add-spmc" name="mc" class="form-control">
                                    <option>--请选择--</option>
                                </select>
<!--                                <input id="add-spmc" name="spmc" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入商品名称！-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-qcsl">期初数量</label>
                                <input id="add-qcsl" name="qcsl" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入数量！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-qcdj">期初单价</label>
                                <input id="add-qcdj" name="qcdj" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入单价！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-qczje">期初总金额</label>
                                <input id="add-qczje" name="qczje" type="text" class="form-control" autocomplete="off" readonly="readonly">
                                <div class="invalid-feedback">
                                    请输入金额！
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jhsl">进货数量</label>-->
<!--                                <input id="add-jhsl" name="sl" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jhdj">进货单价</label>-->
<!--                                <input id="add-jhdj" name="dj" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jhzje">进货总金额</label>-->
<!--                                <input id="add-jhzje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-cksl">出库数量</label>-->
<!--                                <input id="add-cksl" name="sl" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-ckdj">出库单价</label>-->
<!--                                <input id="add-ckdj" name="dj" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-ckzje">出库总金额</label>-->
<!--                                <input id="add-ckzje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jcsl">结存数量</label>-->
<!--                                <input id="add-jcsl" name="sl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jcdj">结存单价</label>-->
<!--                                <input id="add-jcdj" name="dj" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="add-jczje">结存总金额</label>-->
<!--                                <input id="add-jczje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-riqi">日期</label>
                                <input id="update-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-spmc">商品名称</label>
                                <select id="update-spmc" name="mc" class="form-control">
                                    <option>--请选择--</option>
                                </select>
<!--                                <input id="update-spmc" name="spmc" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入商品名称！-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-qcsl">期初数量</label>
                                <input id="update-qcsl" name="sl" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入数量！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-qcdj">期初单价</label>
                                <input id="update-qcdj" name="dj" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入单价！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-qczje">期初总金额</label>
                                <input id="update-qczje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">
                                <div class="invalid-feedback">
                                    请输入金额！
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jhsl">进货数量</label>-->
<!--                                <input id="update-jhsl" name="sl" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jhdj">进货单价</label>-->
<!--                                <input id="update-jhdj" name="dj" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jhzje">进货总金额</label>-->
<!--                                <input id="update-jhzje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-cksl">出库数量</label>-->
<!--                                <input id="update-cksl" name="sl" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-ckdj">出库单价</label>-->
<!--                                <input id="update-ckdj" name="dj" type="text" class="form-control" autocomplete="off">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-ckzje">出库总金额</label>-->
<!--                                <input id="update-ckzje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jcsl">结存数量</label>-->
<!--                                <input id="update-jcsl" name="sl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入数量！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jcdj">结存单价</label>-->
<!--                                <input id="update-jcdj" name="dj" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入单价！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="update-jczje">结存总金额</label>-->
<!--                                <input id="update-jczje" name="zl" type="text" class="form-control" autocomplete="off" readonly="readonly">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    请输入金额！-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
<div class="background-image2 flex-container" style="margin-top: 600px">
    <div class="info-box" style="width: 500px;margin-left: 10px">
        <span>主办单位：坤鑫金属有限公司</span><br>
        <!--        <span>技术专线：123456</span><br>-->
        <span>备案/许可证编号为：xxxxxx</span>
    </div>
    <div class="info-box" style="width: 600px;">
        <span>最佳使用效果：谷歌浏览器</span><br>
        <span>联系地址：xxxxxx</span><br>

    </div>
    <div class="info-box" style="width: 300px;">
        <img src="../img/电话.png" class="img2">12720988902<br>
        <span>关于我们</span><img src="../img/关于我们.png" style="margin-left: 20px" class="img2">
    </div>
</div>

</body>
</html>