<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工工时</title>
    <link rel="shortcut icon" href="#"/>

    <!-- 添加 jQuery CDN 作为备用 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/yggs.js"></script>
    <link rel="stylesheet" href="../css/new.css">
</head>

<body>
<div class="top-header">
    <div class="header-content">
        <div class="logo-section">
            <i class="bi bi-person-badge-fill logo-icon"></i>
            <span class="system-title">信息管理系统</span>
        </div>

        <div class="time-display">
            <i class="bi bi-clock"></i>
            <span id="now_time"></span>
        </div>

        <div class="user-info">
            <i class="bi bi-person-circle"></i>
            您好 <span class="user-name" id="dlm"></span>，欢迎登录！
        </div>

        <div class="nav-icons">
            <div class="nav-icon">
                <a href="http://localhost:9093/index.html" target="_top" class="dropdown-item-custom">
                    <i class="bi bi-box-arrow-right"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<div class="top-toolbar row" style="box-shadow: 0 0 rgba(0,0,0,0);    border-bottom: 1px solid;">
    <div class="search-yggs">
        <input id="ksrq1" type="date" class="form-control form-control-custom" placeholder="开始日期" autocomplete="off">
    </div>
    <div class="search-yggs">
        <input id="jsrq1" type="date" class="form-control form-control-custom" placeholder="结束日期" autocomplete="off">
    </div>
    <div>
        <button id="select-btn1" class="btn btn-yggs btn-primary-custom">
            <i class="bi bi-search me-2"></i>
            查询汇总
        </button>
    </div>
</div>

<div class="top-toolbar row" style="box-shadow: 0 0 rgba(0,0,0,0);    border-bottom: 1px solid;">
    <div class="search-yggs">
        <input id="ksrq" type="date" class="form-control form-control-custom" placeholder="开始日期" autocomplete="off">
    </div>
    <div class="search-yggs">
        <input id="jsrq" type="date" class="form-control form-control-custom" placeholder="结束日期" autocomplete="off">
    </div>
    <div class="search-yggs">
        <input id="yg" type="text" class="form-control form-control-custom" placeholder="员工姓名" autocomplete="off">
    </div>
    <div>
        <button id="select-btn" class="btn btn-yggs btn-primary-custom">
            <i class="bi bi-search me-2"></i>
            查询
        </button>
    </div>
</div>
<!-- 添加工资统计信息 -->
<div class="top-toolbar row" id="salary-stats"  style="box-shadow: 0 0 rgba(0,0,0,0)">
    <div class="col-md-4 mb-3">  <!-- 添加 mb-3 下边距 -->
        <div class="card text-white bg-info" style="height: 60px;">
            <div class="card-body p-1">
                <h6 class="card-title mb-0" style="font-size: 0.8rem;">总工时</h6>
                <h4 id="total-hours" class="mb-0" style="font-size: 1rem;">0</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">  <!-- 添加 mb-3 下边距 -->
        <div class="card text-white bg-success" style="height: 60px;">
            <div class="card-body p-1">
                <h6 class="card-title mb-0" style="font-size: 0.8rem;">小时工资</h6>
                <div class="input-group input-group-sm" style="margin-top: 5px;">
                    <input type="number" id="hourly-wage" class="form-control" value="30" placeholder="小时工资" style="height: 24px; font-size: 0.7rem;">
                    <span class="input-group-text" style="height: 24px; font-size: 0.7rem;">元/小时</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">  <!-- 添加 mb-3 下边距 -->
        <div class="card text-white bg-warning" style="height: 60px;">
            <div class="card-body p-1">
                <h6 class="card-title mb-0" style="font-size: 0.8rem;">总工资</h6>
                <h4 id="total-salary" class="mb-0" style="font-size: 1rem;">0</h4>
            </div>
        </div>
    </div>
</div>
<div id="table-toolbar">
    <div class="page-indicator" style="margin-left: 15px;">
        <i class="bi bi-file-earmark-check me-2"></i>
        当前页：员工工时查询
    </div>
</div>

<div class="table-div border-top">
    <table id="userTable" class="table table-hover table-custom gradient-table"></table>
</div>
<div class="table-div border-top">
    <table id="summaryTable" class="table table-hover table-custom gradient-table"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-riqi">日期</label>
                                <input id="add-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-xssr">销售收入</label>
                                <input id="add-xssr" name="xssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入销售收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-yssr">应收收入</label>
                                <input id="add-yssr" name="yssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入应收收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-zxsr">杂项收入</label>
                                <input id="add-zxsr" name="zxsr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入杂项收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-rkzc">入库支出</label>
                                <input id="add-rkzc" name="rkzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入入库支出！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-fyzc">费用支出</label>
                                <input id="add-fyzc" name="fyzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入费用支出！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-riqi">日期</label>
                                <input id="update-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-xssr">销售收入</label>
                                <input id="update-xssr" name="xssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入销售收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-yssr">应收收入</label>
                                <input id="update-yssr" name="yssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入应收收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-zxsr">杂项收入</label>
                                <input id="update-zxsr" name="zxsr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入杂项收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-rkzc">入库支出</label>
                                <input id="update-rkzc" name="rkzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入入库支出！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-fyzc">费用支出</label>
                                <input id="update-fyzc" name="fyzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入费用支出！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    console.log('页面加载完成，开始绑定事件');
    $(document).ready(function() {
        console.log('jQuery ready');

        // 测试按钮是否存在
        console.log('查询汇总按钮:', $('#select-btn1').length);
        console.log('查询员工按钮:', $('#select-btn').length);

        // 手动绑定事件测试
        $('#select-btn1').on('click', function() {
        });
    });

    $('#select-btn1').click(function () {

        var ksrq1 = $('#ksrq1').val();
        var jsrq1 = $('#jsrq1').val();

        console.log('汇总查询条件:', {
            ksrq1: ksrq1,
            jsrq1: jsrq1
        });
        swal({
            title: "加载中",
            text: "正在查询数据...",
            icon: "info",
            buttons: false,
            closeOnClickOutside: false
        });

        ksrq1 = ksrq1 || '';
        jsrq1 = jsrq1 || '';

        console.log('准备发送AJAX请求到: /yggs/queryList1');

        $.ajax({
            type: 'POST',
            url: '/yggs/queryList1',
            data: {
                ksrq1: ksrq1,
                jsrq1: jsrq1
            },
            success: function(res) {
                swal.close();
                console.log('AJAX 请求成功:', res);
                if (res.code == 200) {
                    setSummaryTable(res.data);
                    swal("汇总查询成功", "找到 " + res.data.length + " 个员工的工时记录", "success");
                } else {
                    swal("汇总查询失败", res.msg, "error");
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX 请求错误:', error);
                console.log('状态码:', xhr.status);
                swal("请求失败", "错误: " + error, "error");
            }
        })
    })



</script>


</body>
<script>
    // 更新时间显示
    function updateTime() {
        const now = new Date();
        const options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };
        document.getElementById('now_time').textContent = now.toLocaleDateString('zh-CN', options);
    }

    // 初始更新时间并设置定时器
    updateTime();
    setInterval(updateTime, 1000);

</script>
</html>