<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/yh.js"></script>
</head>

<body class="pt-2">
<div class="background-image">
    <img src="../img/时间.png" class="img1">
    <span style="color: black; font-size: 20px;margin-left: 20px" id="now_time" ></span>
    <span style="margin-left: 50px;font-size: 20px"><img src="../img/个人.png" style="height: 30px;">  您 好 <b><span id="dlm" style="color: black"></span></b> , 欢 迎 您 登 录 !</span>
    <img src="../img/重金属.png" class="img1" style="margin-left: 30px">
    <img src="../img/金属.png" class="img1"style="margin-left: 30px">
    <img src="../img/钻石.png" class="img1"style="margin-left: 30px">
    <div class="menu">
        <button class="btn2"><img src="../img/个人信息.png" class="img1"></button>
        <div class="content">
            <div>
                <img src="../img/img_1.png">
            </div>
            <div style="margin-left: 60px">
                <a href="grxx.html" class="link-dark rounded">个人信息</a>
            </div>
            <div style="margin-left: 60px">
                <a href="http://localhost:9093/index.html" target="_top">退出登录</a>
            </div>
        </div>
    </div>
    <a href="main.html" target="_top"><img src="../img/首页.png" class="img1"></a>
    <img src="../img/地球仪.png" class="img1" style="margin-left: 20px;">
</div>

<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="ksrq" type="date" class="form-control" placeholder="开始日期" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="jsrq" type="date" class="form-control" placeholder="结束日期" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn" style="background-color: limegreen;color: white">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="add-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="update-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="delete-btn" class="btn btn-primary" style="border-radius:5px;background-color: red">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <span style="border-right: 20px solid white"></span>
        <a class="btn btn-primary" style="color: white;padding-top: 8px;border-radius:5px;">当前页：银行</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="yhTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-riqi">日期</label>
                                <input id="add-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-xssr">销售收入</label>
                                <input id="add-xssr" name="xssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入销售收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-yssr">应收收入</label>
                                <input id="add-yssr" name="yssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入应收收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-zxsr">杂项收入</label>
                                <input id="add-zxsr" name="zxsr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入杂项收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-rkzc">入库支出</label>
                                <input id="add-rkzc" name="rkzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入入库支出！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-fyzc">费用支出</label>
                                <input id="add-fyzc" name="fyzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入费用支出！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-riqi">日期</label>
                                <input id="update-riqi" name="riqi" type="date" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入日期！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-xssr">销售收入</label>
                                <input id="update-xssr" name="xssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入销售收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-yssr">应收收入</label>
                                <input id="update-yssr" name="yssr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入应收收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-zxsr">杂项收入</label>
                                <input id="update-zxsr" name="zxsr" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入杂项收入！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-rkzc">入库支出</label>
                                <input id="update-rkzc" name="rkzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入入库支出！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-fyzc">费用支出</label>
                                <input id="update-fyzc" name="fyzc" type="text" class="form-control" autocomplete="off" data-required="1">
                                <div class="invalid-feedback">
                                    请输入费用支出！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<div class="background-image2 flex-container" style="margin-top: 600px">
    <div class="info-box" style="width: 500px;margin-left: 10px">
        <span>主办单位：坤鑫金属有限公司</span><br>
        <!--        <span>技术专线：123456</span><br>-->
        <span>备案/许可证编号为：xxxxxx</span>
    </div>
    <div class="info-box" style="width: 600px;">
        <span>最佳使用效果：谷歌浏览器</span><br>
        <span>联系地址：xxxxxx</span><br>

    </div>
    <div class="info-box" style="width: 300px;">
        <img src="../img/电话.png" class="img2">12720988902<br>
        <span>关于我们</span><img src="../img/关于我们.png" style="margin-left: 20px" class="img2">
    </div>
</div>

</body>
</html>